certifi==2022.12.7
click==7.1.2
Flask==1.1.2
Flask-WTF==0.14.3
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pipenv==2018.11.26
pyserial==3.4
virtualenv==16.7.7
virtualenv-clone==0.5.3
Werkzeug==1.0.1
WTForms==2.3.1
