{% extends 'layout.html' %} <!-- Nutze das Layout Template -->
{% block content %} <!-- Das wird in den Content Block eingefügt -->
<div class="content-section">
    <p>ArduCon, eine Webanwendung zur Kontrolle des Schlüsselschalters</p>
    <p>Anleitung:</p>
    <p>Als erstes muss der Arduino mit dem PC per USB verbunden werden, danach mit der Funktion "verbinden" mit dem PC verbunden werden. Dabei muss der Port der seriellen Schnittstelle angegeben werden. Diesen findet man in der Arduino IDE. Danach kann die gewünschte Aktion ausgeführt werden.</p>
</div>
{% endblock content %}