{% extends 'layout.html' %} <!-- Nutze das Layout Template -->
{% block content %} <!-- Das wird in den Content Block eingefügt -->
<div class="content-section">
    <form method="POST" action=""> <!-- Das Formular -->
        {{ form.hidden_tag() }} <!-- Spam Protection -->
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.aktion.label(class="form-control-label") }}
                {{ form.aktion(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.serialDevice.label(class="form-control-label") }}
                {{ form.serialDevice(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

        </fieldset>
    </form>
</div>
{% endblock content %}